<a href="https://colab.research.google.com/github/InoRM21/CPEN-21A-BS-CPE-1-2/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Python

In [4]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

In [6]:
x = 1    #This is a single variable
x,y=1,2  #These are two variables with two different values
x,y,z=1,2,3
print(x)
print(y)
print(z)

1
2
3

In [7]:
x,y="four",2
x
y
x

'four'

#Casting

In [9]:
b = int(4)
b
c = float(4)
c

4.0

#Type Function

In [35]:
x = 5
y = "John"  #This is a type of string
h = "ino"
H = "Ino"

print(type(x))
print(type(y))
print(h)
print(H)

<class 'int'>
<class 'str'>
ino
Ino

#One Value to Multiple Variables

In [12]:
x = y = z = 'four'
print(x)
print(y)
print(z)

four
four
four

In [19]:
x = "enjoying"
print("Python Programming is" " " + x)

Python Programming is enjoying

In [22]:
x = 11
y = 12
z = 13
print(x+y+z)

36

In [23]:
x+=3  #This is the same as x = x =3
print(x)

14

In [24]:
y+=5
print(y)

17

In [25]:
print(x>y)

False

In [27]:
x<y and x==x

True

In [28]:
x<y and x!=x

False

In [29]:
x<y or y==y

True

In [32]:
x>y or y==z

False

In [33]:
not(print(x>y))

False

True

In [34]:
#Identify operations
print(x is y)
print(x is not z)

False
True