<a href="https://colab.research.google.com/github/InoRM21/CPEN-21A-BS-CPE-1-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [21]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
print(week)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [23]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement

In [26]:
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [31]:
#The Break Statement
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through string

In [32]:
for x in "Programming with Python":
  print(x)

P
r
o
g
r
a
m
m
i
n
g

w
i
t
h

P
y
t
h
o
n

The range() function

In [1]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

Nested Loops

In [33]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [37]:
i=10
while i>6:
  print(i)
  i-=1

10
9
8
7

The break statement

In [39]:
i=10
while i>6:
  print(i)
  if i==8:
    break
  i-=1

10
9
8

The continue statement

In [40]:
i=10
while i>6:
  i=i-1
  if i==8:
    continue
  print(i)

9
7
6

The else statement

In [14]:
i = 10
while i>6:
  i=i-1
  print(i)
else:
  print("i is no longer greater than 6")

9
8
7
6
i is no longer greater than 6

Application 1

For Loop

In [43]:
value = ["Value 0","Value 1","Value 2","Value 3","Value 4","Value 5","Value 6","Value 7","Value 8","Value 9","Value 10"]
for x in value:
  print(x)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [77]:
#The Break Statement
for x in value:
  print(x)
  if x=="Value 6":
    break

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6

While Loop

In [82]:
v=10
while v>=0:
  print("Value", v)
  v-=1

Value 10
Value 9
Value 8
Value 7
Value 6
Value 5
Value 4
Value 3
Value 2
Value 1
Value 0

Applicaion 2

In [20]:
i=20
while i>3:
  i=i-1
  print(i)
  if i==4:
    break
else:
  print("i is no longer greater than 3")

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4